# config.yaml
# Hydra configuration file for train.py

defaults:
  - _self_
  - override hydra/job_logging: disabled # No fluff
  - override hydra/hydra_logging: disabled # No fluff

hydra:
  run:
    dir: ./outputs/${now:%Y-%m-%d}/${now:%H-%M-%S}

paths:
  project_root: /home/${oc.env:USER}/hnet
  scratch_dir: /home/scratch/${oc.env:USER}
  data_dir: /data/user_data/${oc.env:USER}/data/hnet
  checkpoint_save_path: /data/user_data/${oc.env:USER}/checkpoints
  experiment_dir: ${paths.data_dir}/experiments
  model_cache: ${paths.scratch_dir}/model_cache
  hf_cache: /data/hf_cache

model:
  stages: 2
  size: L
  config_path: "configs/hnet_${model.stages}stage_${model.size}.json"

data:
  name: c4
  input_len: 1024 # Input sequence length / context size
  batch_size: 20 # Batch size for training, 128 x 256 fits on L40s GPU 
  num_workers: 2
  pin_memory: false
  prefetch_factor: null
  shuffle: true
  regenerate_tokens: false
  # ag_news:
  #   path: ag_news 
  #   name: null
  # wikitext:
  #   path: Salesforce/wikitext
  #   name: wikitext-103-v1
  #   streaming: Fals
  c4:
    path: allenai/c4
    name: en
    streaming: True # if streaming then we use take_rows
    train:
      take_rows: 2000000 # Take 2M rows
    valid:
      take_rows: 10000 # Take 10k rows
  

# name: hnet_${data.name}_${model.stages}stage_${model.size}
name: debug_c4

optimizer:
  base_lr: 6.25e-4
  weight_decay: 0.1
  lr_multipliers: [2.0, 1.5, 1.0]   # [Stage 0, Stage 1, Main Network]

training:
  device: cuda
  total_steps: 1000 # Total training steps (batches)
  log_every: 50 # Log training metrics every N steps
  alpha: 0.03 # Ratio loss weight
  n_ratios: [3, 2]  # N ratios for [Stage 0, Stage 1]
  save_every: 250  # Save checkpoint every N steps
  val_every: 100  # Validate every N steps

plotting:
  plot_sentences: 
    - The quick brown fox jumps over the lazy dog.
    - Wikipedia is a free online encyclopedia that aims to provide.
    - Schenley Park is a great place for a walk in Pittsburgh.
    - Artificial intelligence is transforming the world in many ways.
    - kabksbklbfieugf uiahefwuhl aleuhu evjhl hiseualghfiueigu
    - ababababababababababababababababababababababababababa
    - ab ab ab ab ab ab ab ab ab ab ab ab ab ab ab ab ab ab 
    - aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa